/* 

-------- TYPOGRAPHY -------- 
HTML FONT-SIZE: 
62.5% / 10px
FONT-SIZE:
1.6 rem -16PX / 2rem - 20PX / 4rem - 40PX /4.8rem - 48PX / 62PX - 6.2rem

FONT-WEIGHT:
300 / 400 / 800

LINE-HEIGHT:
1.2 / 1.6

LETTER-SPACING:
0 / -2PX

FONT-FAMILY:
POPPINS
Qwigley
 
-------- MARGIN & SPACING -------- 

MARGIN:
0.5rem - 5 / 1rem - 10 / 1.5rem 15 / 2 rem -20 /2.5 rem 25 /3rem 30 / 4rem 40 / 50 / 60 / 70 / 80 / 90 / 100 / 125 / 150 / 200 / 250 / 300 / 400 / 500px

-------- COLORS -------- 

Grey 100 : #F6F5EE
Grey 200 : #CFCFCF
Grey 500 : #ADADAD
Grey 600 : #504F4F
Grey 800 : #353535
Grey 900 : #090D12

White : #FFFFFF

Primary: #FDC347 
Yellow : #FFAC0D
Warning: #F17228

red : #f03e3e
Danger : #FF7474

*/

*{margin: 0; padding: 0; box-sizing: border-box;}

html{ font-size: 62.5%;}

:root{
    --font-family-primary :'poppins';
    --font-family-secondary :'Volkhov';

    --primary : #FA7436;
    --primary-tint:#FEFCFB;
    --light:#F7F8FC;
    --white : #FFFFFF;
    --grey-shade: #222222;
    --grey-tint:#868e96;

    --text-xs : 1.6rem;
    --text-sm : 2rem;
    --text-h3 : 4rem;
    --text-h2 : 4.8rem;
    --text-h1 : 6.2rem;

    --font-weight-normal : 300;
    --font-weight-bold : 400;
    --font-weight-bolder : 600;

    --line-height-normal : 1.2;
    --line-height-bigger : 1.6;

    --letter-spacing-tight : -1px;
}

body{ font-family: var(--font-family-primary); font-size: var(--text-xs); font-weight: var(--font-weight-normal); line-height: var(--line-height-bigger); letter-spacing: var(--letter-spacing-tight);}

nav, .hero-section, .feature-section, .deals-section, .vacation-section, .testimonial-section, .blog-section{ max-width: 1200px; width: 90%; margin: 0 auto;}

.icon-outlined {font-variation-settings: 'FILL' 0, 'wght' 400, 'opsz' 24;}

.icon-filled {font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;}

a{ text-decoration: none; color:var(--grey-shade)}

ul{list-style-type: none; }

/* ------- header ------- */

header{background-color: var( --primary-tint); padding: 1rem;}

.menu-section{ flex-grow: 1; display: flex; align-items: center; justify-content: center; gap: 1.5rem;}

.btn{ display: inline-block; border: 1px solid var(--primary); color: var(--primary); padding: 1rem 4rem; border-radius: 5px; font-weight: var(--font-weight-bold);}
.colored-btn{background-color: var(--primary); color: var(--white);}
nav{display: flex; justify-content: space-around; align-items: center; padding: 1rem 0;}

nav > div{ display: flex; justify-content: center; align-items: center; gap: 1rem;}

.menu-icon { display: none; color: var(--primary); font-size: var(--text-h3);}

.sidebar{display: none; min-height: 100vh; background-color: #FA7436; width: 350px; padding: 2rem; position: absolute; top: 0; z-index: 99;}

.sidebar-menu{display: flex; flex-direction: column; align-items: center; gap: 1.5rem; justify-content: center; margin-bottom: 3rem;}

.sidebar > .close-icon{color: var(--white);}

.sidebar-menu > li {width: 100%; text-align: center; padding: 1rem 2rem;}

.sidebar-menu li .menu-item{color: var(--white); font-size: var(--text-sm); font-weight: var(--font-weight-bolder); }

.sidebar-menu > li:hover{background-color: var(--white);}

.sidebar-menu > li:hover a{color: var(--primary);}

.sidebar-btn{ display: flex;justify-content: center; gap: 2rem; align-items: center;flex-wrap: wrap;}

.sidebar-btn > .btn{ background-color: var(--white); color:var(--primary); font-weight: var(--font-weight-bolder);}

.sidebar-btn > .btn:hover{ border: 2px solid var(--white); color: var(--white); background-color: var(--primary);}

/* ------- Hero Section ------- */

.hero-section{display: flex;align-items: center; justify-content: space-around; margin-bottom: 5rem;}
.hero-content{max-width: 500px; width: 100%; display: flex; flex-direction: column;justify-content: flex-start; gap: 3rem;}
.hero-content > h1{font-family: var(--font-family-secondary); font-size: var(--text-h1); font-weight: var(--font-weight-bolder); line-height: var(--line-height-normal); letter-spacing: var(--letter-spacing-tight);}

.hero-content > p {color: var(--grey-tint); font-size: var(--text-sm);}
.hero-content > .btn{width: 40%;}

.hero-content > h1 > span{color: var(--primary);}

.half-circle{ width: 500px; height: 250px; background: #3498db; border-bottom-left-radius: 250px; border-bottom-right-radius: 250px; border-top-left-radius: 0;border-top-right-radius: 0;}

.hero-poster{position: relative;}
.card1,.card2,.card3,.bg-element{position: absolute;}
.tourist{position: relative; top: 250px; left: 20px; max-width: 450px; width: 100%; margin-top: -150px;}

.card3{top: 430px; right: 350px; z-index: 1; max-width: 192px; width: 100%;}
.card2{top: 310px;left: 360px; z-index: 1; max-width: 172px; width: 100%;}
.card1{top: 185px;right: 390px;max-width: 150px; width: 100%;}
.bg-element{top: 50px;right: 0; max-width: 784px; width: 100%;}

.hero-card{max-width: 841px; width: 95%; margin: 0 auto; display: flex; padding:2.5rem; background-color: var(--white); border-radius: 5px;justify-content: space-between; align-items: center; margin-bottom: 4rem; }

.hero-card > div > .card-heading{display: flex; align-items: center; justify-content: flex-start; gap: 5px; font-size: var(--text-sm); font-weight: var(--font-weight-bold);}
.hero-card > div .arrow-icon{color: var(--primary);}
.hero-card > div > .description{font-family: var(--text-xs); font-weight: var(--font-weight-bold); color: var(--grey-tint);}

.hero-card > .btn{background-color: var(--primary); color: var(--white);}

/* ------- Main Section -------- */

 main{background-color: var(--light);}

 .deals-vacation-section{background-color: var(--primary-tint);}

 /*  ------- feature-section -------  */

.feature-section{display: flex; flex-direction: column; gap: 2rem; padding: 5rem;}
.feature-content{display: flex; justify-content: space-around; gap: 3rem;}
.feature-content > div {max-width: 370px; width: 100%; padding: 3rem; background-color: var(--white); border-radius: 5px; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1rem;}
.feature-content > div > img {margin-bottom: 2rem;}
.feature-content > div > .feature-heading{font-size: var(--text-sm); font-weight: var(--font-weight-bolder);}
.feature-content > div > .feature-details{font-weight: var(--font-weight-bold); font-size: var(--text-xs); color: var(--grey-tint);}
.feature-main{text-align: center; position: relative; margin-bottom: 6rem;}
.feature-main > h1{ font-size: var(--text-h3); font-family: var(--font-family-secondary);}
.feature-main > h1 > span{color: var(--primary);}
.feature-main > p {font-size: var(--text-xs); color: var(--grey-tint); font-weight: var(--font-weight-bold);}
.feature-main >img{position: absolute; top:0; right: 13%;}

/* ------- deals-section --------- */
.deals-section{padding: 5rem; margin-bottom: 5rem;}
.deals-main{text-align: center; margin-bottom: 5rem;}
.deals-main > h1{font-size: var(--text-h3); font-family: var(--font-family-secondary);}
.deals-main > h1 > span{color: var(--primary);}
.deals-main > p{color: var(--grey-tint); font-weight: var(--font-weight-bold); font-size: var(--text-xs);}
.deals-content{display: flex; justify-content: center; gap: 3rem;flex-wrap: wrap;}
.deals-content > .deals-card{display: flex; flex-direction: column; background-color: var(--white); border-radius: 5px;}
.deals-card > img{ max-width: 240px; width: 100%;}
.deals-card-content {display: flex;flex-direction: column;}
.deals-heading{display: flex; padding: 2.5rem; justify-content: space-between; align-items: center;}
.deals-card-heading{ font-size: var(--text-sm); font-weight: var(--font-weight-bold);}
.deals-rating{display: flex; gap: 5px;font-size: var(--text-xs); color: var(--grey-tint);}
.deals-rating > span{color: var(--primary);}

.deals-details{display: flex;justify-content: space-between;align-items: center;padding: 0 2.5rem 2.5rem 2.5rem}
.deals-details > p{display: flex;gap: 5px; color: var(--grey-tint);font-weight: var(--font-weight-bold);}
.deals-details > div{display: flex; gap: 1rem; align-items: center;color: var(--grey-tint);font-weight: var(--font-weight-bold);}
.active{background-color: #FFE7DB; color: var(--primary); padding: 0.5rem; border-radius: 5px; font-weight: var(--font-weight-bold);}

.deals-card {position: relative;}
.deals-card > .btn {display: none; position: absolute;top: 50%;left: 18.5%;}
.deals-card:hover .hover-img { opacity: 0.5;}
.deals-card:hover .hover-btn { display: block;}

.vacation-section{padding: 5rem; margin-bottom: 5rem;}
.vacation-main{text-align: center; margin-bottom: 5rem;}
.vacation-main > h1{font-family: var(--font-family-secondary); font-size: var(--text-h3);}
.vacation-main > h1 > span{color: var(--primary);}
.vacation-main > p{color: var(--grey-tint); font-weight: var(--font-weight-bold); font-size: var(--text-xs);}

.vacation-content{display: flex; justify-content: center; align-items: center; gap: 3rem;}
.vacation-content > .vacation-card > img{max-width: 369px; width: 100%;}
.vacation-card{display: flex; flex-direction: column; background-color: var(--white);}
.vacation-details, .vacation-heading{display: flex;padding: 1rem 2rem; justify-content: space-between;}

.vacation-heading > p { font-size: var(--text-sm); font-weight: var(--font-weight-bolder);color: var(--primary);}
.vacation-heading > .vacation-card-heading{color: var(--grey-shade);}
.vacation-details > p{display: flex; align-items: center; gap: 5px; color: var(--grey-tint); font-size: var(--text-xs); font-weight: var(--font-weight-bold);}
.vacation-details > p >span{color: var(--primary);}

/* ---------- Testimonials-section ----------  */
.testimonials{background-color: var(--light);}
.testimonial-section{display: flex; align-items: flex-start; justify-content: center; gap: 8rem;padding: 2rem; margin-bottom: -1rem;}
.testimonial-main{max-width: 400px; display: flex;flex-direction: column;gap: 3rem;}
.testimonial-main > h1 {font-family: var(--font-family-secondary); font-size: var(--text-h3); font-weight: var(--font-weight-bolder); line-height: var(--line-height-normal); letter-spacing: var(--letter-spacing-tight);}
.testimonial-main > h1 > span{color: var(--primary);}
.testimonial-main > p{ color: var(--grey-tint); font-weight: var(--font-weight-bold); font-size: var(--text-xs);}

.nav-btn{background-color: var(--white); padding: 1rem; border-radius: 50%; color: var(--primary); display: flex; width: 45px;}
.testimonial-nav {display: flex; gap: 2rem;}
.active-nav{background-color: var(--primary);color: var(--white);}
.testimonial-content{position: relative; margin-top: 1.5rem;}
.testimonial-card{max-width: 505px; width: 100%; background-color: var(--white); padding: 3rem 4rem; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2rem; border-radius: 15px;}
.testimonial-card > p {font-weight: var(--font-weight-bold); font-size: var(--text-xs);}
.testimonial-card > div > p {color: var(--grey-tint); font-size: var(--text-xs); font-weight: var(--font-weight-bold);}
.user-name{font-weight: var(--font-weight-bolder) !important; font-size: var(--text-xs) !important; letter-spacing: 0 !important; color: var(--grey-shade) !important;}
.review2{position: relative; left: 12%; bottom: 130px; z-index: 1; opacity: 0.5;}
.review1{position: relative; z-index: 99;}
.profile-img{position: absolute; z-index: 999; left: -50px;top: -20px; max-width: 68px; width: 100%;}

/* ----------- Blog-section --------- */
.blog-subscribe-section{background-color: var(--primary-tint); padding: 6rem;}
.blog-heading { text-align: center; font-size: var(--text-h3); font-weight: var(--font-weight-bolder); font-family: var(--font-family-secondary); line-height: var(--line-height-normal); letter-spacing: var(--letter-spacing-tight); margin-bottom: 5rem;}
.blog-heading > span {color:var(--primary);}
.blog-content{display: flex;justify-content: center; gap: 3rem; margin-bottom: 8rem; flex-wrap: wrap;}
.blog-card{display: flex; flex-direction: column; max-width: 270px; width: 100%; gap: 1rem; background-color: var(--white); border-radius: 5px;}
.blog-card > img{max-width: 270px; width: 100%;}
.blog-card > .blog-details {color: var(--grey-shade); font-weight: var(--font-weight-bolder);}
.blog-card > p{padding: 0 1rem; color: var(--grey-tint);font-size: var(--text-xs); font-weight: var(--font-weight-bold);}

/*------------ Subscribe-Section -------------*/

.subscribe-section{max-width: 1170px; width: 90%; margin: 0 auto; padding: 10rem; background-color: var(--primary); color: var(--white); display: flex; flex-direction: column; border-radius: 15px; justify-content: center;align-items: center;gap: 2rem; position: relative; top: 180px; margin-top: -150px;}
.subscribe-section > h1{ font-family: var(--font-family-secondary); font-size: var(--text-h3); font-weight: var(--font-weight-bolder); text-align: center; line-height: var(--line-height-normal);}
.subscribe-input-section{position: relative; max-width: 780px; width: 100%; display: flex; justify-content: center;}
.subscribe-input-section > p {position: absolute; color: var(--grey-tint);font-size: var(--text-xs);  display: flex; gap: 1rem; left:12%; top:20%; z-index: 999;}
.subscribe-input-section > a {position: absolute; right: 11.5%; bottom: 10%; z-index: 9999;}
.subscribe-input-section > input{padding: 1.5rem 3rem; width: 80%; border: none; outline: none; border-radius: 5px; position: relative; z-index: 99;}
.small-btn{ background-color: var(--primary); color: var(--white); padding: 0.5rem 2rem; border-radius: 5px; font-weight: var(--font-weight-bold);}
.subscribe-section > img{position: absolute; max-width: 390px; width: 100%; left: 0; bottom: 0;}


/* -------- footer ------------ */
footer{background-color: var(--light); padding: 5rem; padding-top: 10rem;}
.footer-section{max-width: 1170px; width: 90%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; padding: 5rem;}
.footer-right{display: flex; justify-content:space-around;flex-grow: 1;}
.footer-left{flex-grow: 1; display: flex; flex-direction: column; gap:2rem;}
.brand-logo{max-width: 100px; width: 100%;}

.media-icons{display: flex; gap: 2rem;}
.nav-btn{ background-color: var(--primary);}
.footer-left > p{color: var(--grey-tint); font-size: var(--text-xs); font-weight: var(--font-weight-bold);}
.footer-right > div{display: flex; flex-direction: column; gap: 2rem;}
.footer-right > div > .footer-heading{font-family: var(--font-family-secondary); font-size: var(--text-xs); font-weight: var(--font-weight-bolder);}
.footer-right ul{display: flex; flex-direction: column; gap: 1rem; }
.footer-right ul a {color: var(--grey-tint) !important; font-size: var(--text-xs); font-weight: var(--font-weight-bold);}

/* --------- Copyright-section ------------ */
.copyright-section{max-width: 1170px; width: 100%; margin: 0 auto; padding: 0 5rem;}
.copyright-section >div{display: flex; justify-content: space-between; padding-top: 2rem;}
.copyright-section p { font-size: var(--text-xs); color: var(--grey-tint); font-weight: var(--font-weight-bold);}

/* 1280 / 16px = 80rem  */
@media(max-width:80rem){
   html{ font-size: 56.25%;}
}

/* 1160 / 16px = 80rem  */
@media(max-width:72.5rem){
    .hero-section{gap: 3rem;}
     html{ font-size: 50%;}
     .feature-main >img {right: 5%;}
     .footer-section{padding: 12rem;}
     .deals-details{justify-content: center; gap: 5rem;}
   /* .hero-content > h1{font-size: var(--text-h3);}
   .hero-content > p{font-size: var(--text-xs);} */
}


/* 880px / 16px =  */
@media(max-width:55rem){
    .menu-icon{display: block;}
    .menu-section , .nav-right{display: none;}
     nav{justify-content: space-between;}

     .hero-section{ padding-top: 5rem;flex-wrap: wrap;}
     .footer-section{flex-direction: column; gap: 3rem; align-items: stretch; justify-content: center;}
     .footer-left{display: none;}
     .feature-content{flex-wrap: wrap;}
     .vacation-content{flex-wrap: wrap;}

}

@media(max-width:35.63rem){
    html{ font-size: 43.75%;}
    .half-circle {
    width: 300px;
    height: 150px;
    background: #3498db;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tourist {
    position: relative;
    top: 150px;
    left: 20px;
    max-width: 250px;
    width: 100%;
    margin-top: -150px;
}
.card2{top: 100px;left: 220px;}
.card1{top: 30px;right: 230px;}
.card3{top: 160px;right: 200px;}
.small-btn{display: none;}
}



